app-nb-chat {

  max-height: 50rem;
  min-height: 50rem;

  max-width: 40rem;
  min-width: 40rem;
}


app-nb-chat {
  max-height: 50rem;
  min-height: 50rem;

  max-width: 40rem;
  min-width: 40rem;
}
